
<div ng-controller="productController">
    <div class="col-lg-4">
        <div class="input-group">
            <span class="input-group-addon" aria-hidden="true">Search</span>
            <input ng-model="search" type="text" class="form-control" placeholder="Search" >
        </div>
    </div>
    <br>
    <br>
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Product</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="product in products| filter:search">
                        <td>{{product.detalle}}</td>
                        <td>{{product.detalle}}</td>
                        <td>{{product.precioVenta}}</td>
                        <!--                <td>
                                            <button id="editBtn" class="btn btn-default btn-sm" ng-click="countryCtrl.editRecord(record)"><span class="glyphicon glyphicon-edit"></span> Edit</button>
                                            <button id="deleteBtn" class="btn btn-default btn-sm" ng-click="countryCtrl.deleteRecord(record)"><span class="glyphicon glyphicon-minus"></span> Delete</button>
                                        </td>-->
                    </tr>
                </tbody>
            </table>
        </div>
    </div> 
</div>