
<div class="table-responsive" ng-controller="productController">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Product</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="product in products">
                <td>{{product.detalle}}</td>
                <td>{{product.detalle}}</td>
                <td>{{product.precioVenta}}</td>
<!--                <td>
                    <button id="editBtn" class="btn btn-default btn-sm" ng-click="countryCtrl.editRecord(record)"><span class="glyphicon glyphicon-edit"></span> Edit</button>
                    <button id="deleteBtn" class="btn btn-default btn-sm" ng-click="countryCtrl.deleteRecord(record)"><span class="glyphicon glyphicon-minus"></span> Delete</button>
                </td>-->
            </tr>
        </tbody>
    </table>
</div>